<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>AutoAdjust</key>
	<false/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>1</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>28.346456527709961</real>
	<key>CreationDate</key>
	<string>2006-08-10 10:36:29 +0200</string>
	<key>Creator</key>
	<string>gntr</string>
	<key>DisplayScale</key>
	<string>1 cm = 1 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>306</integer>
				<key>Info</key>
				<integer>18</integer>
			</dict>
			<key>ID</key>
			<integer>341</integer>
			<key>Points</key>
			<array>
				<string>{66.2274, 59.5174}</string>
				<string>{170.079, 59.5174}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>306</integer>
				<key>Info</key>
				<integer>20</integer>
			</dict>
			<key>ID</key>
			<integer>340</integer>
			<key>Points</key>
			<array>
				<string>{132.381, 34.1535}</string>
				<string>{170.079, 55.7379}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>301</integer>
				<key>Info</key>
				<integer>11</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>301</integer>
				<key>Info</key>
				<integer>15</integer>
			</dict>
			<key>ID</key>
			<integer>339</integer>
			<key>Points</key>
			<array>
				<string>{66.2274, 55.7379}</string>
				<string>{109.703, 34.1535}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>2</integer>
				<key>Info</key>
				<integer>6</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>333</integer>
			</dict>
			<key>ID</key>
			<integer>336</integer>
			<key>Points</key>
			<array>
				<string>{121.042, 34.1535}</string>
				<string>{121.042, 91.7019}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>301</integer>
				<key>Info</key>
				<integer>13</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>333</integer>
			</dict>
			<key>ID</key>
			<integer>335</integer>
			<key>Points</key>
			<array>
				<string>{66.2274, 63.2969}</string>
				<string>{109.703, 91.7019}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>2</integer>
				<key>Info</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{104.034, 91.7019}, {34.0157, 11.3386}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>333</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.739601, -1.1094}</string>
				<string>{-0.421637, -1.26491}</string>
				<string>{6.35784e-07, -1.33333}</string>
				<string>{0.421638, -1.26491}</string>
				<string>{0.739602, -1.1094}</string>
				<string>{1.1094, -0.7396}</string>
				<string>{1.26491, -0.421635}</string>
				<string>{1.33333, 2.54313e-06}</string>
				<string>{1.26491, 0.42164}</string>
				<string>{1.1094, 0.7396}</string>
				<string>{0.739601, 1.1094}</string>
				<string>{0.421638, 1.26491}</string>
				<string>{6.35783e-07, 1.33333}</string>
				<string>{-0.421637, 1.26491}</string>
				<string>{-0.7396, 1.1094}</string>
				<string>{-1.1094, 0.7396}</string>
				<string>{-1.26491, 0.42164}</string>
				<string>{-1.33333, 2.54313e-06}</string>
				<string>{-1.26491, -0.421636}</string>
				<string>{-1.1094, -0.7396}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\mac\ansicpg10000\cocoartf102
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs18 \cf0 Peer}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>333</integer>
			</dict>
			<key>ID</key>
			<integer>326</integer>
			<key>Points</key>
			<array>
				<string>{170.079, 63.2969}</string>
				<string>{132.381, 91.7019}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>306</integer>
				<key>Info</key>
				<integer>16</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{170.079, 53.8481}, {34.0157, 11.3386}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>306</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.739599, -1.1094}</string>
				<string>{-0.421636, -1.26491}</string>
				<string>{1.27157e-06, -1.33333}</string>
				<string>{0.421638, -1.26491}</string>
				<string>{0.7396, -1.1094}</string>
				<string>{1.1094, -0.7396}</string>
				<string>{1.26491, -0.421637}</string>
				<string>{1.33333, 0}</string>
				<string>{1.26491, 0.421637}</string>
				<string>{1.1094, 0.7396}</string>
				<string>{0.739601, 1.1094}</string>
				<string>{0.421638, 1.26491}</string>
				<string>{1.27157e-06, 1.33333}</string>
				<string>{-0.421636, 1.26491}</string>
				<string>{-0.739599, 1.1094}</string>
				<string>{-1.1094, 0.739601}</string>
				<string>{-1.26491, 0.421638}</string>
				<string>{-1.33333, -1.27157e-06}</string>
				<string>{-1.26491, -0.421638}</string>
				<string>{-1.1094, -0.739601}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\mac\ansicpg10000\cocoartf102
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs18 \cf0 Peer}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{104.034, 22.8149}, {34.0157, 11.3386}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>301</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.7396, -1.1094}</string>
				<string>{-0.421637, -1.26491}</string>
				<string>{6.35783e-07, -1.33333}</string>
				<string>{0.421638, -1.26491}</string>
				<string>{0.739601, -1.1094}</string>
				<string>{1.1094, -0.7396}</string>
				<string>{1.26491, -0.421636}</string>
				<string>{1.33333, 6.35783e-07}</string>
				<string>{1.26491, 0.421637}</string>
				<string>{1.1094, 0.7396}</string>
				<string>{0.739601, 1.1094}</string>
				<string>{0.421638, 1.26491}</string>
				<string>{6.35783e-07, 1.33333}</string>
				<string>{-0.421636, 1.26491}</string>
				<string>{-0.7396, 1.1094}</string>
				<string>{-1.1094, 0.739601}</string>
				<string>{-1.26491, 0.421637}</string>
				<string>{-1.33333, -6.35783e-07}</string>
				<string>{-1.26491, -0.421637}</string>
				<string>{-1.1094, -0.7396}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\mac\ansicpg10000\cocoartf102
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs18 \cf0 Peer}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{32.2117, 53.8481}, {34.0157, 11.3386}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>2</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.7396, -1.1094}</string>
				<string>{-0.421637, -1.26491}</string>
				<string>{0, -1.33333}</string>
				<string>{0.421637, -1.26491}</string>
				<string>{0.7396, -1.1094}</string>
				<string>{1.1094, -0.7396}</string>
				<string>{1.26491, -0.421637}</string>
				<string>{1.33333, 0}</string>
				<string>{1.26491, 0.421637}</string>
				<string>{1.1094, 0.7396}</string>
				<string>{0.7396, 1.1094}</string>
				<string>{0.421637, 1.26491}</string>
				<string>{0, 1.33333}</string>
				<string>{-0.421637, 1.26491}</string>
				<string>{-0.7396, 1.1094}</string>
				<string>{-1.1094, 0.7396}</string>
				<string>{-1.26491, 0.421637}</string>
				<string>{-1.33333, -1.27157e-06}</string>
				<string>{-1.26491, -0.421637}</string>
				<string>{-1.1094, -0.7396}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\mac\ansicpg10000\cocoartf102
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs18 \cf0 Peer}</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>5.6692914962768555</real>
		<key>MajorGridSpacing</key>
		<integer>5</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>15</integer>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Ebene 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict/>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 cm = 1 cm</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Ebene 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict/>
			<key>Orientation</key>
			<integer>2</integer>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2007-04-12 13:21:34 +0200</string>
	<key>Modifier</key>
	<string>gntr</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string></string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{340.157, 340.157}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Arbeitsfläche 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<string>0</string>
		<key>DrawerOpen</key>
		<false/>
		<key>DrawerTab</key>
		<string>Outline</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>FitInWindow</key>
		<false/>
		<key>Frame</key>
		<string>{{7, 5}, {938, 710}}</string>
		<key>ShowRuler</key>
		<true/>
		<key>ShowStatusBar</key>
		<true/>
		<key>VisibleRegion</key>
		<string>{{-81, 0}, {503.725, 305.456}}</string>
		<key>Zoom</key>
		<string>1.800586</string>
	</dict>
</dict>
</plist>
